include blocks/settings-panel/settings-panel
include blocks/wrapper/wrapper

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width, shrink-to-fit=no")
    link( rel="apple-touch-icon" sizes="180x180" href=require('./favicons/apple-touch-icon.png'))
    link( rel="icon" type="image/png" sizes="32x32" href=require('./favicons/favicon-32x32.png'))
    link( rel="icon" type="image/png" sizes="16x16" href=require('./favicons/favicon-16x16.png'))
    link( rel="manifest" href="favicons/site.webmanifest")
    link( rel="mask-icon" href=require('./favicons/safari-pinned-tab.svg') color="#5bbad5")
    meta( name="msapplication-TileColor" content="#2d89ef")
    meta( name="theme-color" content="#ffffff")
    title slider
  body
    - const array = [
    -        {
    -          min: 25,
    -          max: 75,
    -          step: 5,
    -          minorHandleValue: 25,
    -          majorHandleValue: 45,
    -          vertical: true,
    -          tooltip: true,
    -          isDouble: true,
    -        }, {
    -          min: -15,
    -          max: 15,
    -          step: 5,
    -          minorHandleValue: -15,
    -          majorHandleValue: 15,
    -          vertical: false,
    -          tooltip: true,
    -          isDouble: false, 
    -        }, {
    -          min: 0,
    -          max: 100,
    -          step: 10,
    -          minorHandleValue: 15,
    -          majorHandleValue: 75,
    -          vertical: false,
    -          tooltip: false,
    -          isDouble: true, 
    -        }, {
    -        },
    -      ];

    each item in array
      +wrapper(item)

